<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>

		<title>AngularJS - a MVC Framework</title>

		<meta name="description" content="AngularJS and MVC in 
                                                  CMPUT404"/>
		<meta name="author" content="Abram Hindle"/>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
<style>
/* long slides need scrolling! */
.reveal {
    overflow-y: auto;
}
</style>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

			  <section>
			    <h1>AngularJS</h1>
			    <p>
			      <small>Created
				by <a href="http://softwareprocess.es">Abram
				  Hindle</a><br/>
                                abram dot hindle at ualberta dot ca
				<br/>
                                Department of Computing Science<br/>
                                University of Alberta<br/>
                                Edmonton, Alberta, Canada<br/>
                                Earth<br/>

			    </p>
                            <p>
                              </small>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

			    </p>
			  </section>


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
  <div data-markdown>
    <script type="text/template">
      ## AngularJS
      
      * MVC Javascript Framework
      * Allows for single page applications
      * Enables seamless updating of values
      * Can used without server-side interaction
    </script>
  </div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
  <a href="http://angularjs.org/">
    <img src="images/angularjs.png"/>
  </a>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
  <div data-markdown>
    <script type="text/template">
      ## Pretty Large Honkin Javascript Framework
      
      * Angular is so big you might want some templates to start with.
      
      * Angular-seed https://github.com/angular/angular-seed

    </script>
  </div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START HTML SLIDE ########################## -->
<section>

<h2>Angular Seed</h2>

<blockquote>
<h3>angular-seed — the seed for AngularJS apps</h3>
<p>
This project is an application skeleton for a typical AngularJS web app. You can use it to quickly bootstrap your angular webapp projects and dev environment for these projects.
</p>
<p>
The seed contains AngularJS libraries, test libraries and a bunch of scripts all preconfigured for instant web development gratification. Just clone the repo (or download the zip/tarball), start up our (or your) webserver and you are ready to develop and test your application.
</p>
<p>
The seed app doesn't do much, just shows how to wire two controllers
and views together. You can check it out by opening app/index.html in
your browser (might not work file file:// scheme in certain browsers,
see note below).
</p>
</blockquote>

<p>From AngularJS <a href="https://github.com/angular/angular-seed/blob/master/README.md">https://github.com/angular/angular-seed/blob/master/README.md</a></p>

</section>
<!-- ######################## END HTML SLIDE ########################## -->


<!-- ######################## START HTML SLIDE ########################## -->
<section>
<a href="https://github.com/angular/angular-seed">
<img src="images/angular-seed.png"/>
</a>
</section>
<!-- ######################## END HTML SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## app/js/app.js

The home to the application

````
'use strict';

// Declare app level module which depends on filters, and services
angular.module('myApp', [
  'ngRoute',
  'myApp.filters',
  'myApp.services',
  'myApp.directives',
  'myApp.controllers'
]).
// Deal with the hash routes like #/view2
// Tells the app which controller to use for each route
config(['$routeProvider', function($routeProvider) {
  $routeProvider.when('/view1', {templateUrl: 'partials/partial1.html', controller: 'MyCtrl1'});
  $routeProvider.when('/view2', {templateUrl: 'partials/partial2.html', controller: 'MyCtrl2'});
  $routeProvider.otherwise({redirectTo: '/view1'}); // add a default
}]);
````

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## app/js/app.js

Let's add a view

````
'use strict';

// Declare app level module which depends on filters, and services
angular.module('myApp', [
  'ngRoute',
  'myApp.filters',
  'myApp.services',
  'myApp.directives',
  'myApp.controllers'
]).
// Deal with the hash routes like #/view2
// Tells the app which controller to use for each route
config(['$routeProvider', function($routeProvider) {
  $routeProvider.when('/view1', {templateUrl: 'partials/partial1.html', controller: 'MyCtrl1'});
  $routeProvider.when('/view2', {templateUrl: 'partials/partial2.html', controller: 'MyCtrl2'});
  $routeProvider.when('/example', {templateUrl: 'partials/example.html', controller: 'MyExample'});
  $routeProvider.otherwise({redirectTo: '/view1'}); // add a default
}]);

````

In index.html

````
    <li><a href="#/example">Example</a></li>
````


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## app/partials/example.html

In this example we make up a model element "inputValue". AngularJS
will let us update the model via the input tags and using the
{{modelVar}} notation we can print that result.

````
<p>This is the example view</p>
<p>
  <input type="text" ng-model="inputValue">
  <input type="text" ng-model="inputValue">
  <input type="text" ng-model="inputValue">
  <div>inputValue: {{inputValue}}</div>
</p>     

````

<a href="../app/index.html#/example">See the example</a>

But it doesn't work...

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## app/js/controller.js

* We told the app it had a controller of MyExample so we need to add a
controller.

* Controller will run code associated with a view and manipulate input
or set things up for viewing. They will interact with the model as well.


````
'use strict';

/* Controllers */

angular.module('myApp.controllers', []).
  controller('MyCtrl1', [function() {

  }])
  .controller('MyCtrl2', [function() {

  }])
  .controller('MyExample', [function() {

  }]);

````

<a href="../app/index.html#/example">See the example</a>

Now it works.

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Review

* We editted the app to tell it the route to a new view

* We provided some HTML snippet as the partial view we added

* We used some kind of template in that HTML snippet and we used these
ng- tags to mark up the HTML to connect it to the models.

* We added an empty controller because we said we would

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## More Angular

* Filters are used to show partial collections. If you show customers
you can filter them {{ collection | filter }}
* Services are to provide services (singletons) and factories (single
creator of multiple objects)
* Directives are special HTML annotations you can define that angular
will parse. Allowing for powerful and recursive templating.
* Controllers help provide data to views and allow for modification
and scope of models

````
angular.module('myApp', [
  'ngRoute',
  'myApp.filters',
  'myApp.services',
  'myApp.directives',
  'myApp.controllers'
])
````

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Factories and Services

* Services are singletons. They are an object that you configure and
share.

* Factories are a function that runs ONCE to produce a value. It could
produce a class for you to create new objects from.

* You use factories and services because they have names and can be
INJECTED (dependency injected) into controllers.

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Dependency Injection

The arguments in controller are never called by you, they are resolved
by angular. Angular will provide the appropriately named service. 

This means you don't have to worry about including the appropriate
javascript in scope.

It also means that your application should be structured by NAMED
Angular components rather than anything else. Globals are defined as
values, shared code as services, builders as factories, and more
complicated structures as providers.

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->



<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## That seems complicated.

It doesn't have to be.

Checkout http://jsfiddle.net/3hsSe/

We show the difference between a factory (something that can run and
return something) versus a service (a singleton).

We also show how values can get updated without a lot of work!


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## In case JSFiddle is down

Based on Manish Chhabra's example: http://blog.manishchhabra.com/2013/09/angularjs-service-vs-factory-with-example/

````
<div ng-controller="HelloCtrl">
    <p>service id: {{service.id}}</p>
    <p>factory id: {{factory.id}}</p>
    <p>fs: {{fromService}}</p>
    <p>ff: {{fromFactory}}</p>
    <p>shw: {{service.sayHello("World")}}</p>
    <p>Fi: {{factory.sayHello(inputToFactory)}}</p>
    <p>Si: {{service.sayHello(inputToFactory)}}</p>
    <p>Factory.message: {{factory.message}}</p>
    <p>Service.message: {{service.message}}</p>Input:
    <input type="text" ng-model="inputToFactory" />
    </br>
</div>
<br />
<div ng-controller="GoodbyeCtrl">
    <p>service id: {{service.id}}</p>
    <p>factory id: {{factory.id}}</p>
    <p>{{fromService}}</p>
    <p>{{fromFactory}}</p>
    <p>{{factory.sayGoodbye(inputToFactory)}}</p>
    <p>{{service.sayGoodbye(inputToFactory)}}</p>Factory:
    <input type="text" ng-model="factory.message" />
    <br/>Service:
    <input type="text" ng-model="service.message" />
    <br/>Input:
    <input type="text" ng-model="inputToFactory" />
    </br>
    <p>Factory.message: {{factory.message}}</p>
    <p>Service.message: {{service.message}}</p>
</div>
````

````
function generateID() {
    
}

//angular.js example for factory vs service
var app = angular.module('myApp', []);

// This factory allows you to call new on it.
app.factory('testFactory', function () {
    return function() {
        var self = this;
        this.message = "";
        this.id = Math.random();
        this.sayHello = function (text) {
            return "Factory says \"Hello " + text + "\"" + self.message;
        };
        this.sayGoodbye = function (text) {
            return "Factory says \"Goodbye " + text + "\"" + self.message;
        };
    };
});

// The service ends up being a singleton
app.service('testService', function () {
    this.message = "";
    this.id = Math.random();
    this.sayHello = function (text) {
        return "Service says \"Hello " + text + "\"" + this.message;
    };
    this.sayGoodbye = function (text) {
        return "Service says \"Goodbye " + text + "\"" + this.message;
    };
});

function HelloCtrl($scope, testService, testFactory) {
    $scope.service = testService;
    $scope.factory = new testFactory();
    $scope.fromService = testService.sayHello("World");
    $scope.fromFactory = $scope.factory.sayHello("World");
}

function GoodbyeCtrl($scope, testService, testFactory) {
    $scope.factory = new testFactory();
    $scope.service = testService;
    $scope.inputToFactory = "World";
    $scope.fromService = testService.sayGoodbye($scope.inputToFactory);
    $scope.fromFactory = $scope.factory.sayGoodbye($scope.inputToFactory);
}
````

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## How to deal with updates from timeouts

````
window.setInterval(
    function() {
        $scope.$apply(
            function() { 
                service.message = "X"+Math.random();
            }); 
    },1000);
````

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## MVC and Angular


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->

<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## More on templating


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->



<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Directives


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Filters


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Backends


</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->




<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## Resources

* Todo Example http://todomvc.com/architecture-examples/angularjs/#/

* 5 Awesome AngularJS Features
https://code.tutsplus.com/tutorials/5-awesome-angularjs-features--net-25651

* Using Yeoman with AngularJS
http://briantford.com/blog/angular-yeoman.html 
  * (aka start an angular project by going:

       yeoman init angular

* me and angular http://stephenplusplus.github.io/meangular/

* Angular JS forum https://groups.google.com/forum/?fromgroups#!forum/angular

* Best Practices for Angular App Structure
https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/pub

* Angular JS Fiddles https://github.com/angular/angular.js/wiki/JsFiddle-Examples

* Angular homepage http://angularjs.org/

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->




<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## LICENSE

Copyright 2014 (C) Abram Hindle

The textual components of this slide deck are placed under the
Creative Commons Attribute-ShareAlike 4.0 International License (CC
BY-SA 4.0)

</script>
</div>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->


<!-- ######################## START MARKDOWN SLIDE ########################## -->
<section>
<div data-markdown>
<script type="text/template">
## LICENSE

The source code to this slide deck is:

````
Copyright (C) 2013 Hakim El Hattab, http://hakim.se

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
````

</script>
</div>
</section>
<!-- ######################## END MARKDOWN SLIDE ########################## -->



			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: 'sky',//Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: 'linear' || Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
